@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  font-size: $html-font-size;
  font-family: $font-family;
}

@font-face {
  font-family: 'Nohemi';
  src: url($assets-path + '/fonts/Nohemi-Light.woff2') format('woff2'),
  url($assets-path + '/fonts/Nohemi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url($assets-path + '/fonts/Nohemi-Medium.woff2') format('woff2'),
  url($assets-path + '/fonts/Nohemi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url($assets-path + '/fonts/Nohemi-Bold.woff2') format('woff2'),
  url($assets-path + '/fonts/Nohemi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url($assets-path + '/fonts/Nohemi-Regular.woff2') format('woff2'),
  url($assets-path + '/fonts/Nohemi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



%fs {
  &-59 {
    font-size: clamp-calc(35px, 59px);
    line-height: clamp-calc(41px, 69px);
  }

  &-42 {
    font-size: clamp-calc(29px, 42px);
    line-height: clamp-calc(32px, 48px);
  }

  &-33 {
    font-size: clamp-calc(24px, 33px);
    line-height: clamp-calc(32px, 41px);

  }

  &-26 {
    font-size: clamp-calc(20px, 26px);
    line-height: clamp-calc(24px, 32px);
  }

  &-20 {
    font-size: clamp-calc(18px, 20px);
  }

  &-16 {
    font-size: rem(16);
    line-height: rem(24);
  }

  &-13 {
    font-size: rem(13);
  }
}
