.contact, .politique-de-confidentialite, .mentions-legales, .cookies {

  .header-wrap {
    background-color: color(background_body);

    .header {
      &-brand {
        .c-image {
          img {
            filter: brightness(0);
          }
        }
      }

      &:has(.is-active) {
        .header-brand {
          .c-image {
            img {
              filter: brightness(0)invert(1);
            }
          }
        }
      }

      &-nav {
        &__mobile {
          #burger {
            span {
              @include burger(30px, 2px, 7px, var(--aky-color-dark));
            }
          }
          &.is-active {
            #burger {
              span {
                @include burger-to-cross(#fff);
              }
            }
          }
        }
        &__nav {
          .menu {
            li {
              &:not(&:has(.sub-menu)) {
                a {
                  background-image: linear-gradient(color(text-background_body), color(text-background_body));
                }
              }
              a {
                color: color(text-background_body);
              }
            }
            &#menu-menu-principal {
              li:has(.sub-menu) {
                &::before {
                  filter: brightness(0);
                }
                .sub-menu {
                  background-color: color(text-background_body);
                  li {
                    a {
                      color: color(background_body);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main {
    padding-top: rem(112);
  }

  .sub-footer {
    display: none;
  }

}
