.c-filter {
  &-buttons {
    @include flex(row, nowrap, start, center);

    gap: rem(20);

    @include moreThan($mobileXs) {
      border-bottom: 1px solid color(text-background_body);
    }

    @include lessThan($mobileXs) {
      flex-direction: column;
    }

    .btn {
      @extend %fs-16;

      max-width: initial;
      position: relative;
      font-family: $font-family-title;
      font-weight: 400;

      @include moreThan($mobileXs) {
        padding: rem(16) rem(20) rem(16) rem(0);
      }

      span {
        span {
          font-weight: normal;
          margin-left: rem(5);
          padding: rem(5) rem(15);
          border: 1px solid color(text-background_body);
          border-radius: rem(14);
        }
      }

      &--active {
        overflow: visible;

        &:before {
          content: none;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: rem(-2);
          left: 0;
          width: 100%;
          height: rem(2);
          background-color: color(text-background_body);
        }
      }

      span {

      }
    }
  }
}
